<%- include('layouts/header') -%>
<div class="container">
  <ul class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i></a></li>
      <li><a href="/about-us">About Us</a></li>
    </ul>

  <div class="row">
    <div class="features">
      <div class="col-md-3">
        <div class="icon clearfix  "> <a href="#"><i class="circle fa fa-delicious"></i>
          <div class="content">
            <h4 class="tf">Clean design</h4>
            <p>Elegant layouts that help you organize your content in the best way</p>
          </div>
          </a></div>
      </div>
      <div class="col-md-3">
        <div class="icon clearfix  "><a href="#"><i class="circle fa fa-html5"></i>
          <div class="content">
            <h4 class="tf">Html5 &amp; css3</h4>
            <p>Built with modern technologies like HTML5 and CSS3, SEO optimised</p>
          </div>
          </a></div>
      </div>
      <div class="col-md-3">
        <div class="icon clearfix  "><a href="#"><i class="circle fa fa-desktop"></i>
          <div class="content">
            <h4 class="tf">Responsive layout</h4>
            <p>Compatible with various desktop, tablet, and mobile devices</p>
          </div>
          </a></div>
      </div>
      <div class="col-md-3">
        <div class="icon clearfix  "><a href="#"><i class="circle fa fa-pencil-square-o"></i>
          <div class="content">
            <h4 class="tf">Customization</h4>
            <p>Clear code and documentation, build with Bootstrap 3</p>
          </div>
          </a></div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 team">
      <h4 class="tf">Our Team </h4>
    </div>
  </div>
  <div class="row team">
    <div class="col-md-3 col-sm-3 team1 ">
      <div class="photo">
        <div class="imageblock"> <img alt="#" src="image/Team1.jpg" class="img-responsive"> </div>
        <div class="name"> <a href="#">DIPALEE GUPTA</a> </div>
        <h3>Web Designer</h3>
        <p></p>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 team1 ">
      <div class="photo">
        <div class="imageblock"> <img alt="#" src="image/Team2.jpg" class="img-responsive"> </div>
        <div class="name"> <a href="#">LAXEN SAPANI</a> </div>
        <h3>Web Developer</h3>
        <p></p>
      </div>
    </div>
    
  </div>
</div>


</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->

<script src="js/jQuery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.js"></script>
</body>
</html>
