<%- include('layouts/header') -%>
<div class="container">
  <ul class="breadcrumb">
      <li><a href="/"><i class="fa fa-home"></i></a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  <div class="row">
    <div id="content" class="col-sm-9">
      <div class="blog1 blog">
<!--  Blog 1   -->
        <div class="blog_img"><img src="image/blog1.jpg" alt="" /></div>
        <h4 class="p-name"> Stir Fried Vegetables</h4>
        <ul class="blog-meta">
          <li><i class="fa fa-clock-o"></i><span class="dt-published">March 15, 2020</span></li>
          <li><i class="fa fa-comment-o"></i><span>2</span> Comment</li>
          <li><i class="fa fa-user"></i><span><a rel="author" title="Posts by Admin" href="#">Admin </a></span></li>
        </ul>
        <p class="p-summary"></p>
        <p>First whisk sauce ingredients together in a small bowl. Then, warm your cast-iron pan on medium to low heat with 1 tbsp of oil. Saute broccoli and sliced carrots for 5-7 minutes, stirring often. 
          Next stir in peppers, mushrooms, and snow peas. Cook vegetables for another 3-5 minutes. Vegetables should be soft/cooked through, but still have some texture – we want to avoid the vegetables turning soggy. Last, add your sauce to the cooked vegetables and stir for 1 additional minutes for sauce to thicken.  
          Serving Options
          One of my favorite ways to enjoy these flavorful asian veggies is served over white or brown rice. You can also serve them over asian noodles and add a cooked protein like chicken or tofu!      
          </p> <br> <br>

 <!--   Blog 2    -->
      <div class="blog2 blog">
          <div class="blog_img"><img src="image/blog2.jpg" alt="" /></div>
        <h4 class="p-name">Avocado Toast</h4>
        <ul class="blog-meta">
          <li><i class="fa fa-clock-o"></i><span class="dt-published">March 12, 2020</span></li>
          <li><i class="fa fa-comment-o"></i><span>2</span> Comment</li>
          <li><i class="fa fa-user"></i><span><a rel="author" title="Posts by Admin" href="#">Admin</a></span></li>
        </ul>
        <p class="p-summary"></p>
        <p>So what is the right way to do avocado on toast? It’s simple.
            Take perfectly ripe avocado, slice it in half, scoop out the flesh into a bowl. Mash with a fork. Yes, mash. Sliced avocado on toast just will not do. It’s not the same. This is a crucial factor in the perfect avocado on toast recipe. 
            The first crucial factor: Mashed avocado
            The second crucial factor: Sea salt
            The third crucial factor: Black pepper
            Fourth crucial factor: Perfectly toasted wholewheat bread. If you can get the wholewheat bread with little seeds all over the top, that’s even better.
            </p> <br> <br>
 <!-- Blog 3 -->

        <div class="blog_img"> <img src="image/blog3.jpg" alt="" /> </div>
        <h4 class="p-name">Mashroom Saute</h4>
        <ul class="blog-meta">
          <li><i class="fa fa-clock-o"></i><span class="dt-published">March 12, 2020</span></li>
          <li><i class="fa fa-comment-o"></i><span>2</span> Comment</li>
          <li><i class="fa fa-user"></i><span><a rel="author" title="Posts by Admin" href="#">Admin</a></span></li>
        </ul>
        <p class="p-summary"></p>
        <p>Fresh mushrooms: I use either white or Cremini mushrooms in this recipe.
            Unsalted butter: I love using creamy European butter, but any butter will be great. You can also use olive oil. 
            Minced garlic: Mince it yourself, or use the stuff that comes in a jar. Both work. You can also use thinly sliced garlic cloves.
            Kosher salt and black pepper: If using fine salt, you should reduce the amount you use, or the dish could end up too salty.
            Dried thyme: Make sure it’s fresh! A stale spice can easily ruin a dish.
            Parsley: Used mostly for garnish.</p>
       <br>
    </div> 
    </div>
  </div>
</div>
</div>
<%- include('layouts/footer') -%>
