<footer>
<div class="container">
    <div class="row">
    <div class="col-sm-3 footer-block">
        <h5 class="footer-title">Information</h5>
        <ul class="list-unstyled ul-wrapper">
        <li><a href="/about-us">About Us</a></li>
        </ul>
    </div>
    <div class="col-sm-3 footer-block">
        <h5 class="footer-title">Customer Service</h5>
        <ul class="list-unstyled ul-wrapper">
        <li><a href="/contact">Contact Us</a></li> 
        </ul>
    </div>
    </div>
</div>
</footer>
<div class="footer-bottom">
<div class="container">
    <div class="copyright">Powered By &nbsp;<a href="#">Organic Fresh &copy; 2020 </a> </div>
</div>
</div>
<script src="javascript/parally.js"></script> 
<script>
$('.parallax').parally({offset: -40});
</script>
</body>
</html>  