<% if(sess != false){%>
    <%- include('layouts/userheader') %>
  <%}
  else{%>
    <%- include('layouts/header') %>
  <%}%>
<h2>Thank You for Placing Order! Your order will reach to you soon!</h2>


  <%- include('layouts/footer') -%>
