<!DOCTYPE html>
<html lang="en">
<head>
<title>Organic Fresh</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="e-commerce site well design with responsive view." />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" />
<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="/css/stylesheet.css" rel="stylesheet">
<link href="/css/responsive.css" rel="stylesheet">
<link href="/owl-carousel/owl.carousel.css" type="text/css" rel="stylesheet" media="screen" />
<link href="/owl-carousel/owl.transitions.css" type="text/css" rel="stylesheet" media="screen" />
<script src="/javascript/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/javascript/jstree.min.js" type="text/javascript"></script>
<script src="/javascript/template.js" type="text/javascript" ></script>
<script src="/javascript/common.js" type="text/javascript"></script>
<script src="/javascript/global.js" type="text/javascript"></script>
<script src="/owl-carousel/owl.carousel.min.js" type="text/javascript"></script>
</head>
<body>
<div class="preloader loader" style="display: block; background:#f2f2f2;"> <img src="image/loader.gif"  alt="#"/></div>
<header>
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="top-right pull-right">
            <div id="top-links" class="nav pull-right">
              <ul class="list-inline">
                <li class="dropdown"><a href="#" title="My Account" class="dropdown-toggle" data-toggle="dropdown"> <i class="fa fa-user"></i><span>User</span> <span class="caret"></span></a>
                  <ul class="dropdown-menu dropdown-menu-right">
                    <!-- <li><a href="/edit_profile">Edit Profile</a></li> -->
                    <li><a href="/logout">Logout</a></li>
                  </ul>
                </li>

              </ul>
              <form action="/products" method="get" class="search-box">
                <input class="input-text" placeholder="search.." type="text" name="search">
                <button class="search-btn"><i class="fa fa-search"></i></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="header-inner">
      <div class="col-sm-4 col-xs-6 header-left">
      </div>
      <div class="col-sm-4 col-xs-12 header-middle">
        <div class="header-middle-top">
          <div id="logo"> <a href="/"><img src="image/organic_fresh_logo.png" title="E-Commerce" alt="E-Commerce" class="img-responsive" /></a> </div>
        </div>
      </div>
      <div class="col-sm-4 col-xs-12 header-right">
        <div id="cart" class="btn-group btn-block">
          <button type="button" class="btn btn-inverse btn-block btn-lg dropdown-toggle cart-dropdown-button"> <span id="cart-total"><span class="cart-title"><a id="cart-txt" href="/cart">Cart</a></span></span></button>
        </div>
      </div>
    </div>
  </div>
</header>
<nav id="menu" class="navbar">
  <div class="nav-inner container">
    <div class="navbar-header"><span id="category" class="visible-xs">Categories</span>
      <button type="button" class="btn btn-navbar navbar-toggle" ><i class="fa fa-bars"></i></button>
    </div>
    <div class="navbar-collapse">
      <ul class="main-navigation">
        <li><a href="/"   class="parent"  >Home</a> </li>
        <li><a href="/vegetables"   class="parent"  >Vegetables</a> </li>
        <li><a href="/fruits"   class="parent"  >Fruits</a> </li>
        <li><a href="/salads"   class="parent"  >Salads</a> </li>
        <li><a href="/blog" class="parent"  >Blog</a></li>
      </ul>
    </div>
  </div>
</nav>